:root {
  --main-color: #637ceb;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #1c1b1b;
  font-family: sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h1 {
  margin: 20px 0;
  color: #fff;
}

iframe {
  width: 90%;
  height: 80vh;
  border: 5px solid var(--main-color);
  border-radius: 15px;
  background: #1c1b1b;
}
a {
  margin: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background: #161515;
  padding: 10px 20px;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  transition: transform 0.2s;
}
a:hover {
  transform: scale(1.05);
}
