html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #1c1b1b;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: center;     /* horizontal center */
}

h1 {
  margin-bottom: 30px;
  background: #161515;
  padding: 15px 30px;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

iframe {
  width: 90%;
  max-width: 1000px;
  height: 600px;
  border: 4px solid #637ceb; /* same as homepage boxes */
  border-radius: 15px;
  margin-bottom: 20px;
}

.powroc {
  color: #ffffff;       /* white text */
  text-decoration: none; /* remove hyperlink style */
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid #637ceb;
  border-radius: 12px;
  transition: transform 0.2s;
}

.powroc:hover {
  transform: scale(1.05);
}
